.avatar {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-right: 16px;
  
  img {
    border-radius: 100px;
    width: 2rem;
    height: 2rem;
  }
}


.btnNotifyContainer {
  display: inline-block;
  position: relative;
}

.btnNotifyContainer:focus-within > nav {
  opacity: 1;
  visibility: visible;
  transform: translateY();
}

.btnDropDown {
  display: flex;
  align-items: center;
  background-color: initial;
  font: inherit;
  cursor: pointer;
  padding: 8px 0;
  font-weight: 600;
  font-size: .875rem;
  color:#cedaf3;

  :hover {
    color: white;
  }
  span {
    display: flex;
    align-items: center;
    justify-content: space-between;

    svg {
      margin-left: 8px;
      font-size: 1rem;
    }
  }
}