.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  color: #646f90;
  border: 1px solid #d9dde8;
  border-radius: .5rem;
  width: max-content;
  cursor: pointer;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: 200ms all;
  padding: 8px 0;
  display: flex;
  flex-direction: column;

  a {
    color: #939bb4;
    padding: .5rem 72px .5rem 24px;
  }

  a:hover {
    background-color: #edeef2;
    color: black;
  }
}
