@import './variables.scss';


* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

html ,body {
  font-size: 100%;
  line-height: 1.625;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  background-color: $color-app-background;
  color: $text-color;
}
